    <table>
        <tr>
            <th>اسم الزبون</th>
            <th>رقم الهاتف</th>
            <th>اسم المنتج</th>
            <th>السعر الإجمالي</th> <th>الإجراءات</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.customer_phone }}</td>
            <td>{{ order.product_name }}</td>
            <td>{{ order.total_price }}</td> <td><button>حذف</button></td>
        </tr>
        {% endfor %}
    </table>
